<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>debasishbsws</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

    <div class="text-container">
        <audio controls style=" display:none;" loop id="a">
            <source src="https://github.com/debasishbsws/debasishbsws-protfolio/blob/master/public/sound/song1.mp3">
    </div>

    <script>

        window.addEventListener("mouseover", play);
        window.addEventListener("click", play);
        window.addEventListener("scroll", play);
        function play() {
            document.getElementById("a").play();
        }
    </script>



    <section id="main">
        <section class="main__container">
            <div class="header">
                <nav>
                    <span class="arrow"><i class="fa fa-terminal"></i></span>
                    <span class="logotext">root@debasishbsws:~#</span>
                    <span class="dark">
                        <img src="image/settings_brightness_black_24dp.svg" alt="" />
                    </span>
                </nav>
            </div>
            <section id="tabs">
                <div class="body">

                    <div class="name">
                        <h1><span class="c">DEBASISH </span>BISWAS<h1>
                    </div>
                    <div class="para">
                        <p> Computer~Science Student || OpenSource Enthusiast || #GitHub || DevOps & Web</p>
                    </div>
                    <a href="https://debasishbsws.hashnode.dev/">
                        <div class="name">
                            <h1>Read my Blogs</h1>
                        </div>
                    </a>
                    <div class="social">
                        <a href="https://www.instagram.com/debasishbsws">
                            <i class="fa fa-instagram change twitter btn"
                                style="font-size:40px; margin: 0 30px; color: aliceblue;"></i>
                        </a>
                        <a href="https://twitter.com/debasishbsws">
                            <i class="fa fa-twitter change twitter btn"
                                style="font-size:40px; margin: 0 30px; color: aliceblue;"></i>
                        </a>
                        <a href="https://github.com/debasishbsws">
                            <i class="fa fa-github change twitter btn"
                                style="font-size:40px; margin: 0 30px; color: aliceblue;"></i>
                        </a>

                    </div>
                    <a href="#" class="button">WHO AM I</a>
                </div>
                <div class="body about">
                    <h2>Hello</h2>
                    <p> I am a Developer & Photographer <img src="https://media.giphy.com/media/WUlplcMpOCEmTGBtBW/giphy.gif"
                            width="30"> from INDIA.</p>
                    <p> I am currently a Student of MCA at NIT Jamshedpur.</p>

                    <p>Exploring Technical Content Writing, DevOps</p>

                    <p> I am a <span class="highlight">Tech Enthusiast</span> and a <span class="highlight">Problem
                            Solver</span>.</p>
                    <a href="#" class="button remove">BACK

                    </a>
                    <div class="right">

                    </div>
                </div>
            </section>
        </section>
    </section>
    <script src="javascript/index.js"></script>
</body>

</html>
